/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Satisfy&display=swap');

/*! === VARIABLES === */
:root {
  --light-clr: #fff;
  --light-clr-2: #BED2C9;
  --light-clr-3: #E1E7DD;
  --dark-clr: #2e2e2e;
  --body-font-clr: #bdbdbd;
  --body-bg-clr: #222222;
  --title-font: "Bebas Neue", cursive;
  --body-font: "Poppins", sans-serif;
}

/*! === BASE === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

body {
    font-family: Quattrocento Sans, sans-serif;
    color: black;
    font-weight: 400;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    background-color: lightcoral;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, button {
  font: inherit;
  background-color: transparent;
  border: none;
}

.container {
  margin-inline: auto;
  padding-inline: 18px;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: rgb(228, 206, 206);
  transition: padding .25s;
}

.header.active {
  padding-top: 10px;
  box-shadow: 0 1px 0 #64c8ff1a;

}